<header class="flex justify-between backdrop-blur bg-zinc-900/50 rounded-3xl py-5 items-center px-12 ">

            <div class="">

                <img class="w-[132px]" src="../assets/img/Logo.svg" alt="">

            </div>

            <div class="">
                <nav>
                    <ul class="flex gap-12 font-['Gilroy-Medium'] text-xl">
                        <a href="">
                            <li>Filmes</li>
                        </a>
                        <a href="sobre.html">
                            <li>Sobre</li>
                        </a>
                        <a href="">
                            <li>Animações</li>
                        </a>
                        <a href="movie.html">
                            <li>Categorias</li>
                        </a>
                    </ul>

                </nav>
            </div>

            <div class="avatar">
                <img class="w-11 rounded-full" src="https://github.com/Matheusvgdr.png" alt="">
            </div>

        </header>
