<header class="px-12">
    <div class="flex justify-between backdrop-blur bg-zinc-900/50 rounded-3xl py-5 items-center text-white px-12 absolute w-[92.5vw] mt-[48px] ">
        <div class="">
            <img class="w-[132px]" src="../assets/img/Logo.svg" alt="">
        </div>
        <div class="">
            <nav>
                <ul class="flex gap-12 font-['Gilroy-Medium'] text-xl">
                    <a [routerLink]="['/']">
                        <li>Filmes</li>
                    </a>
                    <a [routerLink]="['sobre']">
                        <li>Sobre</li>
                    </a>
                    <a [routerLink]="['/']">
                        <li>Animações</li>
                    </a>
                    <a [routerLink]="['categorias']">
                        <li>Categorias</li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="avatar">
            <img class="w-11 rounded-full" src="https://github.com/Matheusvgdr.png" alt="">
        </div>
    </div>

</header>