<div class=" text-white bg-bg-espaco bg-no-repeat bg-cover bg-[#0B0B0B]">

    <div class=" p-12 ">

        <main class="pt-[140px]">

            <div class="font-['Gilroy-Medium']">
                <p class="text-xl ">2022 | Melhores filmes </p>

                <h1 class="uppercase text-[80px] font-['Gilroy-Bold'] leading-[90px]">Categoria: espaço</h1>
                <!-- <h1 class="uppercase text-[80px] font-['Gilroy-Bold'] leading-[90px]">The Rise of Skywalker</h1> -->


                <h2 class="text-3xl leading-[85px]">Galáxias, constelações e infinidade.</h2>


                <div class="flex gap-5 pt-2">
                    <button
                        class="flex gap-3 rounded-[10px] p-4 items-center backdrop-blur bg-gradient-to-br from-slate-50/20 to-transparent ">
                        <img src="./assets/img/button_main_play.svg" alt="">
                        Assistir agora
                    </button>
                    <button class="flex gap-3 rounded-[10px] p-4 items-center outline outline-1 ">
                        <img src="./assets/img/add_button.svg" alt="">
                        Adicionar a lista
                    </button>
                </div>
            </div>

            <div class="pt-12">
                <h2 class="text-3xl font-['Gilroy-Bold']">Refúgio</h2>

                <p class="text-[22px] font-['Gilroy-Light'] pt-3">
                    Em um futuro distante, uma astronauta, naufragada na Terra dizimada <br> há muito tempo, deve decidir o destino da população remanescente <br> do deserto.</p>

            </div>
        </main>

        <section class="pt-8">

            <h2 class="pb-5 text-3xl font-['Gilroy-Bold']">Lançamentos</h2>

            <div class="flex gap-5 pt-5 overflow-hidden ">

                <div class="flex gap-5 pt-5 overflow-hidden ">
                    <div *ngFor="let filme of filmes">
                        <cine-filme [filme]="filme"></cine-filme>
                    </div>
                </div>
                
            </div>
        </section>

        <!-- <section class="pt-8">
            <h2 class="pb-5 text-3xl font-['Gilroy-Bold']">Top 5 mais vistos</h2>

            <div class="flex gap-10">
                <div class="flex flex-col items-center scale-effect duration-300 cursor-pointer">
                    <img src="./assets/img/pop1.png" alt="">
                    <p class="text-[22px] mt-2">Peacemacker</p>
                    <p class="text-lg text-white/50">9.0</p>
                </div>
                <div class="flex flex-col items-center scale-effect duration-300 cursor-pointer">
                    <img src="img/pop2.png" alt="">
                    <p class="text-[22px] mt-2">Euphoria</p>
                    <p class="text-lg text-white/50">8.5</p>
                </div>
                <div class="flex flex-col items-center scale-effect duration-300 cursor-pointer">
                    <img src="img/pop3.png" alt="">
                    <p class="text-[22px] mt-2">Drive my car</p>
                    <p class="text-lg text-white/50 ">8.9</p>
                </div>
                <div class="flex flex-col items-center scale-effect duration-300 cursor-pointer">
                    <img src="img/pop4.png" alt="">
                    <p class="text-[22px] mt-2">Duna</p>
                    <p class="text-lg text-white/50 ">9.8</p>
                </div>
                <div class="flex flex-col items-center scale-effect duration-300 cursor-pointer">
                    <img src="img/pop5.png" alt="">
                    <p class="text-[22px] mt-2">Money heist</p>
                    <p class="text-lg text-white/50">8.6</p>
                </div>
            </div>

        </section> -->

    </div>
</div>
