<div class="all">
    <div class="titulo">
        <h1>Home</h1>
        <div class="container-pesquisa">
            <input type="text" class="pesquisa" placeholder="Pesquisar">
            <button class="btn"><i class="bx bx-search"></i></button>
        </div>
    </div>

    <div class="grid-area">

        <div class="grid g1">
            <div class="">
                <h3>Estudantes</h3>
                <p>503</p>
            </div>
            <img src="../../assets/Rectangle 158.png" alt="" class="wave">
            <img src="../../assets/graduation-cap.png" alt="" class="icon">

        </div>

        <div class="grid g2">
            <div class="">
                <h3>Professores</h3>
                <p>50</p>
            </div>
            <img src="../../assets/Rectangle 160.png" alt="" class="wave">
            <img src="../../assets/apple.png" alt="" class="icon">
        </div>

        <div class="grid g3">
            <div class="">
                <h3>Matérias</h3>
            </div>

            <div class="">
                <div class="materias">
                    <div class="materia bio">
                        <p>Biologia</p>
                        <div class="linha"></div>
                    </div>
                </div>
                <div class="">
                    <div class="materia mat">
                        <p>Matemática</p>
                        <div class="linha"></div>
                    </div>
                </div>
                <div class="">
                    <div class="materia port">
                        <p>Português</p>
                        <div class="linha"></div>
                    </div>
                </div>
                <div class="">
                    <div class="materia hist">
                        <p>História</p>
                        <div class="linha"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="grid g4">

            <div class="conteudo">
                <div class="flex">
                    <div class="f-col">
                        <h4>Seg</h4>
                        <p>17</p>
                    </div>
                    <div class="f-col">
                        <h4>Ter</h4>
                        <p>18</p>
                    </div>
                    <div class="select f-col">
                        <h4>Quar</h4>
                        <p>19</p>
                    </div>
                    <div class="f-col">
                        <h4>Quin</h4>
                        <p>20</p>
                    </div>
                    <div class="f-col">
                        <h4>Sex</h4>
                        <p>21</p>
                    </div>
                    <div class="f-col">
                        <h4>Sab</h4>
                        <p>22</p>
                    </div>
                    <div class="f-col">
                        <h4>Dom</h4>
                        <p>23</p>
                    </div>
                </div>
                <div class="dots">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
            </div>
        </div>

        <div class="grid g5">
            <div class="">
                <h3>Turmas</h3>
                <p>100</p>
            </div>

            <img src="../../assets/Rectangle 159.png" alt="" class="wave">
            <img src="../../assets/book.png" alt="" class="icon">

        </div>

        <div class="grid g6">
            <div class="conteudo">
                <h3>Notificação</h3>
                <div class="point"></div>
            </div>

            <div class="conteudo-mensagem">
                <div class="pessoa">
                    <img src="../../assets/peop2.png" alt="">
                    <p>Patrick Joselino Cunha</p>
                </div>
                <div class="line"></div>
                <span>Oi, gostaria de marcar uma reunião.</span>
            </div>
        </div>

        <div class="grid g7">
            <div class="">
                <h3>Desempenho</h3>
            </div>

            <div class="conteudo"><img src="../../assets/grafico.PNG" alt=""></div>
        </div>

        <div class="grid g8">
            <div class="">
                <h3>Tarefas</h3>
            </div>

            <div class="tarefas">
                <div class="task">
                    <i class="bx bx-envelope-open"></i>
                    <p>Incrição de alunos</p>
                </div>
                <div class="task">
                    <i class="bx bx-group"></i>
                    <p>Reunião de professores</p>
                </div>
                <div class="task">
                    <i class="bx bx-receipt"></i>
                    <p>Prestação de contas</p>
                </div>
                <div class="task">
                    <i class="bx bx-package"></i>
                    <p>Entrega de diplomas</p>
                </div>
                <div class="task">
                    <i class="bx bx-credit-card"></i>
                    <p>Compra de materiais</p>
                </div>
                
            </div>

        </div>
        <div class="grid g9">
            <div class="">
                <h3>Destaques</h3>
            </div>

            <div class="conteudo">
                <div class="flex">
                    <i class="bx bxs-user-plus"></i>
                    <p>Bruna Silva da Costa</p>
                </div>
                <div class="flex">
                    <i class="bx bxs-user-plus"></i>
                    <p>Carlos Maia Oliveira</p>
                </div>
                <div class="flex">
                    <i class="bx bx-book"></i>
                    <p>Amanda Oliveira Costa</p>
                </div>
                <div class="flex">
                    <i class="bx bxs-user-plus"></i>
                    <p>Júlia Barroso Monteiro</p>
                </div>
                <div class="flex">
                    <i class="bx bx-book"></i>
                    <p>Júnior Almeida Amorin</p>
                </div>
            </div>
        </div>
    </div>
</div>