<div class="grid">
    <div class="conteudo">
        <img [src]="alunos.caminhoImagem" alt="">
        
        <div class="info">
            <div class="item">
                <p>Matricula: {{alunos.matricula}} </p>
            </div>
            <div class="item">
                <p>Nome: {{alunos.nome}}</p>
            </div>
            <div class="item">
                <p>Idade: {{alunos.idade}}</p>
            </div>
            <div class="item">
                <p>Turma: {{alunos.turma}}</p>
            </div>
            <div class="item">
                <p>Contato: {{alunos.contato}}</p>
            </div>
        </div>
    </div>
</div>