<div class="all">
    <div class="titulo">
        <h1>Sobre</h1>
    </div>

    <div class="conteudo">
        <div class="imgSide">

        </div>
        <div class="infoSide">
            <div class="flex">
                <h1>Nossa história</h1>
                <i class="bx bx-info-circle"></i>
            </div>
            <div class="line"></div>
            <p> &nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet, sem et mollis finibus, est justo
                congue ante, sed lobortis lorem urna in tellus. Maecenas eget metus sed sem varius convallis. Curabitur
                vitae arcu et neque cursus volutpat sed sed tellus. Mauris eget neque et nisi porttitor pretium. Nulla
                eu quam egestas, rutrum orci in, aliquam ante. Morbi rhoncus ornare augue, ac elementum eros porttitor
                nec. Maecenas placerat eros erat, volutpat congue odio mollis at. Etiam eu elementum quam. Fusce at
                lectus mi. Integer vehicula lorem sed neque iaculis volutpat. <br>
                
                &nbsp;&nbsp;&nbsp;Maecenas rutrum, augue finibus tristique
                congue, lacus dui venenatis massa, vitae rutrum diam risus id tellus. In mollis dapibus elit placerat
                sollicitudin. Aenean sodales massa eu dignissim porta. Integer pellentesque vulputate nibh at interdum.
                Aliquam non posuere quam. Sed varius eleifend blandit.
                <br>
                &nbsp;&nbsp;&nbsp;Cras ligula erat, mollis at est a, vulputate pharetra diam. Vivamus interdum sem nibh, nec ornare sapien
                aliquam sit amet. Vivamus accumsan augue eget arcu ullamcorper mattis. Nunc sollicitudin, nulla id
                faucibus ullamcorper, magna velit aliquam erat, id bibendum justo magna nec velit. Pellentesque molestie
                sit amet tortor ac sodales. Integer quis justo id lacus ultricies venenatis nec tincidunt enim. Nam
                fringilla dui vitae nibh rhoncus, nec viverra tellus ultrices. Sed diam sem, sagittis id est nec,
                convallis porta arcu. In commodo purus eros, sed elementum risus tincidunt et. Nullam quis diam vitae
                dolor hendrerit ultrices vel id ligula. Sed non felis facilisis, viverra odio quis, eleifend orci. In
                hac habitasse platea dictumst. Sed faucibus vitae ipsum nec hendrerit.</p>
        </div>
    </div>
</div>